@import "src/variables.scss";

.add-container {
    color: $gloki-dark;
    padding: 31px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    font-family: 'DM Sans';

    .closing-x {
        align-self: flex-end;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: inline-block;
        background: $gloki-dark;
        color: white;
        text-align: center;
        font-size: 15px;
        cursor: pointer;

        .slightly-raise-x {
            margin-top: -3px;
        }
    }
   
    .add-title {
        font-size: 2.5vh;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: normal;
    }

    textarea {
        font-size: 2vh;
    }
    
    .add-description {
        font-size: 2.2vh;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: normal;
        overflow-wrap: break-word;
    }

    button {
        border-radius: 9px;
        height: 6.3vh;
        background-color: $gloki-blue;
        color: white;
        margin: 5px 40px;
        font-size: 25px;
        font-weight: 600;
        border: none;
    }
}
