
@import "src/variables.scss";

.info-container {
    color: $gloki-dark;
    padding: 31px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    font-family: 'DM Sans';

    .closing-x {
        align-self: flex-end;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: inline-block;
        background: $gloki-dark;
        color: white;
        text-align: center;
        font-size: $gloki-fs-small;
        cursor: pointer;

        .slightly-raise-x {
            margin-top: -3px;
        }
    }

    .info-header {
        font-size: $gloki-fs-title;
        font-weight: bold;
        line-height: normal;
    }
    
    .info-summary {
        font-size: $gloki-fs-header;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: normal;
    }
    
    .info-content {
        font-size: $gloki-fs-regular;
        font-weight: 400;
        line-height: 1.1;
        letter-spacing: normal;
        overflow-wrap: break-word;
    }
}
