
@import "src/variables.scss";

.info-container {
    width: calc($gloki-width * 0.75);
    height: 40vh;
    background-color: white;
    color: $gloki-dark;
    padding: 31px;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;

    .closing-x {
        align-self: flex-end;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: inline-block;
        background: $gloki-dark;
        color: white;
        text-align: center;
        font-size: 15px;
        cursor: pointer;

        .slightly-raise-x {
            margin-top: -1px;
        }
    }

    button {
        color: white;
        background-color: $gloki-blue;
        border-radius: 9px;
        font-size: 25px;
        border: none;
        padding: 10px;
    }
}

:host ::ng-deep .info-header {
    font-size: 3.2vh;
    font-weight: bold;
}

:host ::ng-deep .info-summary {
    font-size: 2.5vh;
    font-weight: bold;
    line-height: 1.1;
}

:host ::ng-deep .info-content {
    font-size: 2.2vh;
    font-weight: 400;
    line-height: 1.1;
}
