<div class="top-bar">
    <img class="logo" src="assets/Logo.svg" />
</div>
<div class="menu-container">
    <div (click)="closeEvent.emit()" class="material-symbols-outlined closing-x">close</div>
    <ul>
        <li><a href="https://www.globaldemocracyinitiative.org/" target="_blank">About</a></li>
        <li><a
            href="https://assets-global.website-files.com/61224ee76eeedd60f18adcad/659d9cdeacf14c0072b83c0e_GloKi%20White%20Paper.pdf"
            target="_blank">
            White Paper
        </a></li>
        <li>Team</li>
        <li>Privacy</li>
    </ul>
</div>
