@import "src/variables.scss";

.new-statement-container {
    height: 80vh;
    margin-top: 7.5vh;
    display: flex;
    flex-direction: column;

    .input-area {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .title {
            font-size: 35px;
            font-weight: bold;
        }
        
        textarea {
            font-size: 21px;
            margin-top: 1.5vh;
            width: 100%;
        }
    }
        
    .button-area {
        margin-top: 1.5vh;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: calc($gloki-width * 0.035);

        button {
            border-radius: 9px;
            width: calc($gloki-width * 0.2);
            height: 3.6vh;
            font-size: 15px;
            border: none;
        }

        #cancel {
            background-color: $gloki-grey;
            color: white;
        }
    }
}
