@import "src/variables.scss";

.list-dialog {
    display: flex;
    flex-direction: column;
    color: black;

    .closing-x {
        align-self: flex-end;
        position: absolute;
        top: 20px;
        right: 20px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: inline-block;
        background: $gloki-dark;
        color: white;
        text-align: center;
        font-size: $gloki-fs-small;
        cursor: pointer;

        .slightly-raise-x {
            margin-top: -3px;
        }
    }

    .title {
        font-size: $gloki-fs-header;
        font-weight: bold;
        padding: 3vh 0;
        border-bottom: 1px solid $gloki-dark;
    }

    .list {
        display: flex;
        flex-direction: column;

        .list-item {
            font-size: $gloki-fs-regular;
            padding: 1vh;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            border-bottom: 1px solid $gloki-dark;
            cursor: pointer;
        }

        .message {
            padding-top: 2vh;
            font-size: $gloki-fs-regular;
        }
    }
}