@import "src/variables.scss";
@import '@material-symbols/font-400/outlined.css';

:host {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .just-list {
        width: 100%;
        overflow-y: auto;
        flex: 1;

        .statement-group-card {
            background-color: rgba(white, 0.6);
            border-radius: 21px;
            margin: 20px;

            &.green {
                background-color: rgba($gloki-green, 0.6);
            }

            &.red {
                background-color: rgba($gloki-red, 0.6);
            }

            .card-header {
                font-size: $gloki-fs-regular;
                background: unset;
            }

            .card-list-item {
                width: 100%;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;        
                font-size: $gloki-fs-header;
                line-height: 36px;
    
                .card-statement {
                    &:not(.selected) {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    &.selected {
                        line-height: normal;
                        margin: 4px 0px;
                    }
                }
            }
        }
    }

    .add-btn {
        margin: 3vh;
        font-size: $gloki-fs-big-icon;
        cursor: pointer;
    }
}
