<app-hamburger *ngIf="hamburgerOpen" (closeEvent)="hamburgerOpen=false"></app-hamburger>
<ng-container *ngIf="!hamburgerOpen">
    <div class="header">
        <div class="top-bar">
            <div class="material-symbols-outlined back-arrow" *ngIf="state.step>1" (click)="state.step=backward[state.step-1]">arrow_back</div>
            <div class="material-symbols-outlined hamburger-menu" (click)="hamburgerOpen=true">menu</div>
        </div>
        <img src = "assets/Logo.svg" alt="The gloKi Logo"/>
    </div>
    <div class="main-content">
        <app-gloki *ngIf="state.step==1" />
        <app-storage *ngIf="state.step==2" />
        <app-connect *ngIf="state.step==3" />
        <app-do-login *ngIf="state.step==4" />
    </div>
    <div class="footer">
        <div class="loading-message">
            <div *ngIf="state.isLoading">Loading ...</div>
        </div>
        <div class="progress-indicator">
            <div class="progress-bar"><div class="progress-value" [ngStyle]="{'width': ''+(state.step-1)*25.2+'%'}"></div></div>
            {{(state.step-1)*25}}%
        </div>
    </div>
</ng-container>