<div class="login-container">
    <div class="header">
        <div class="hamburger-menu">
            <div class="material-symbols-outlined">menu</div>
        </div>
        <img src = "assets/Logo.svg" alt="The gloKi Logo"/>
    </div>
    <app-gloki class="main-content" *ngIf="state.step==1" />
    <app-storage class="main-content" *ngIf="state.step==2" />
    <app-connect class="main-content" *ngIf="state.step==3" />
    <app-do-login class="main-content" *ngIf="state.step==4" />
    <div class="footer">
        <div *ngIf="state.isLoading">Loading ...</div>
        <div class="progress-indicator">
            <div class="progress-bar"><div class="progress-value" [ngStyle]="{'width': ''+state.step*25.2+'%'}"></div></div>
            {{state.step}}/4
        </div>
    </div>
</div>