<div class="center">
    <p>scan page</p>
    <p>Result:</p>
    <p>{{result}}</p>
    <ngx-scanner-qrcode #action="scanner" [isBeep]="false" [config]="config" (event)="onEvent($event, action)"></ngx-scanner-qrcode>
    <p *ngIf="action.isLoading">⌛ Loading...</p>
    <!-- start/stop -->
    <button class="btn" [class.btn-info]="!action.isStart" [class.btn-warning]="action.isStart" [disabled]="action.isLoading" (click)="handle(action, action.isStart ? 'stop' : 'start')">
      <img [src]="action.isStart ? 'https://id1945.github.io/images/svg/camera-off.svg' : 'https://id1945.github.io/images/svg/camera-on.svg'" width="30px"/>
    </button>
  </div>
<!-- [(device)]="desiredDevice" -->
