.main-container {
    background: linear-gradient(167.1deg, #081E32 16.16%, #185B98 94.75%);
    width: 100vw;
    min-height: 100vh;
    color: white;

    a {
        color: white;
    }

    .community {
        padding: 27px 23px;
        font-size: 35px;
        border-bottom: 1px solid white;
    }
}