@import "src/variables.scss";

:host {
    background: linear-gradient(167.1deg, $gloki-dark 16.16%, $gloki-blue 94.75%);
    width: $gloki-width;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;

    .centralized {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
        img {
            transform: scaleX(-1);
        }
    }

    app-main-bar {
        height: 7%;
    }

    .the-rest {
        height: 93%;
    }
}
