@import "src/variables.scss";

.main-container {
    background: linear-gradient(167.1deg, $gloki-dark 16.16%, $gloki-blue 94.75%);
    width: $gloki-width;
    min-height: 100%;
    color: white;

    a {
        color: white;
    }

    .community-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 85%;
        width: 100%;

        .just-list {
            width: 100%;
            .community {
                width: 100%;
                padding: 27px 23px;
                font-size: 35px;
                border-bottom: 1px solid white;
            }
        }

        .add-btn {
            padding: 3vh;
        }
    }

    .timer {
        padding: 20px;
        border-radius: 21px;
        background-color: white;
        color: $gloki-dark;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100vw - 80px);

        .timer-num {
            font-size: 45px;
        }

        p {
            margin: 0;
        }
    }
}