<h1>Type your IBC address&thinsp;<sup><span (click)="showInfo()" class="raised-circle">?</span></sup></h1>
<div class="input-container">
    <!-- Input field -->
    <input type="text" class="input-field" placeholder="Type address..."
         [(ngModel)]="selectedServer" (ngModelChange)="onServerChange()"
         (click)="autocompleteVisible=true" (blur)="delayedHide()">
    <!-- Icon inside input area -->
    <img class="icon" src="assets/QR code scanner.png" (click)="doScan()" />
    <div class="autocomplete" *ngIf="autocompleteVisible && options.length > 0">
        <ul>
            <li *ngFor="let option of options" (click)="selectOption(option)" [innerHTML]="option"></li>
        </ul>
    </div>
    <div *ngIf="errorMessage.length>0" class="error-message">
        * {{errorMessage}}
    </div>
</div>
<button class="continue" [disabled]="!mayContinue" (click)="onServerSelected($event)">Continue</button>
