
.info-box
.mat-mdc-dialog-container
.mdc-dialog__container
.mat-mdc-dialog-surface {
    width: calc($gloki-width * 0.75);
    height: 45vh;
    background-color: white;
    border-radius: 21px;
    position: absolute;
    top: 30vh;
    font-family: 'DM Sans';
}

.authenticate-box
.mat-mdc-dialog-container
.mdc-dialog__container
.mat-mdc-dialog-surface {
    width: calc($gloki-width * 0.85);
    height: 70vh;
    background-color: white;
    border-radius: 21px;
    position: absolute;
    top: 15vh;
    font-family: 'DM Sans';
}

.scan-box
.mat-mdc-dialog-container
.mdc-dialog__container
.mat-mdc-dialog-surface {
    max-width: none;
    width: $gloki-width;
    height: 75vh;
    background-color: white;
    border-radius: 0px 0px 21px 21px;
    position: absolute;
    top: 7vh;
    font-family: 'DM Sans';
}

.share-box
.mat-mdc-dialog-container
.mdc-dialog__container
.mat-mdc-dialog-surface {
    max-width: none;
    width: $gloki-width;
    height: calc(min(375px, 80vw) + 32vh);
    background-color: white;
    border-radius: 0px 0px 21px 21px;
    position: absolute;
    top: 14vh;
    font-family: 'DM Sans';
}

.list-box
.mat-mdc-dialog-container
.mdc-dialog__container
.mat-mdc-dialog-surface {
    max-width: none;
    width: $gloki-width;
    height: 70vh;
    background-color: white;
    border-radius: 0px 0px 21px 21px;
    position: absolute;
    top: 10vh;
    font-family: 'DM Sans';
}

.dialog-backdrop {
    cursor: default;
}
