@import "src/variables.scss";

:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .just-list {
        width: 100%;
        overflow-y: auto;
        flex: 1;
        
        .community {
            width: 100%;
            padding: 15px 23px;
            display: flex;
            align-items: center;
            font-size: $gloki-fs-banner;
            border-bottom: 1px solid white;
            cursor: pointer;
        }
    }

    .add-btn {
        margin: 3vh;
        width: 50px;
        cursor: pointer;
    }
}
