@import "src/variables.scss";

.community-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 85%;
    width: 100%;

    .just-list {
        width: 100%;
        .community {
            width: 100%;
            padding: 23px 23px;
            font-size: 35px;
            border-bottom: 1px solid white;
        }
    }

    .add-btn {
        padding: 3vh;
        cursor: pointer;
    }
}
