<div class="authenticate-container">
    <div class="content">
        <img [src]="data.profile.image_url"/>
        <div class="name">{{data.profile.first_name}} {{data.profile.last_name}}</div>
        <div class="message">Please follow the rules:</div>
        <div class="instructions">{{data.instructions}}</div>
    </div>
    <div class="buttons">
        <button class="green" [mat-dialog-close]="true">Approve</button>
        <button class="red" [mat-dialog-close]="false">Reject</button>
    </div>
</div>