<div class="community-header">
    <div class="community-name">
        {{ community?.contract?.name }}
    </div>
    <div class="community-icons">
        <span class="material-symbols-outlined community-icon">fingerprint</span>
        <span class="community-icon"><img src="assets/members.svg" /></span>
        <span class="community-icon"><img src="assets/deliberate.svg" /></span>
        <span class="material-symbols-outlined community-icon">share</span>
    </div>
</div>
<app-unverified *ngIf="subpage == Subpage.UNVERIFIED" [communityId]="communityId"/>
<app-members *ngIf="subpage == Subpage.MEMBERS" />
<app-verification *ngIf="subpage == Subpage.VERIFICATION" />
<app-deliberation *ngIf="subpage == Subpage.DELIBERATION" />