@import "src/variables.scss";
@import '@material-symbols/font-400/outlined.css';

.deliberation-header {
    padding: 2vh 15px;
    height: 9vh;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .title {
        overflow: hidden;
        font-size: 3.2vh;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .icon-set {
        display: flex;
        flex-direction: row;

        .deliberation-icon {
            font-size: 4.3vh;
            padding: 0px 5px;
            width: 5.4vh;
            height: 5.8vh;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
    
            &.selected {
                background-color: $gloki-grey;
            }
        }
    }
}

.deliberation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 89%;
    width: 100%;

    .just-list {
        width: 100%;
        overflow-y: auto;

        .drop-list {
            min-height: 54px;
        }

        .statement-group-card {
            background-color: rgba(white, 0.6);
            border-radius: 21px;
            margin: 20px;

            &.green {
                background-color: rgba($gloki-green, 0.6);
            }

            &.red {
                background-color: rgba($gloki-red, 0.6);
            }

            .card-header {
                font-size: 20px;
            }

            .card-list-item {
                width: 100%;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;        
                font-size: 24px;
                line-height: 36px;
    
                .card-statement {
                    &:not(.selected) {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    &.selected {
                        line-height: normal;
                        margin: 4px 0px;
                    }
                }
            }
        }

        .list-item {
            width: 100%;
            padding: 12px 23px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;        

            .statement {
                font-size: 23px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .separator {
            display: flex;
            align-items: center;
            text-align: center;

            &::before, &::after {
                content: "";
                flex: 1;
                border-bottom: 2px solid;
            }

            &.green {
                border-color: $gloki-green;
                color: $gloki-green;
            }

            &.red {
                border-color: $gloki-red;
                color: $gloki-red;
            }
    
            span {
                font-weight: bold;
                margin: 0px 10px;
            }
        }
    }

    .add-btn {
        margin: 3vh;
        width: 50px;
        cursor: pointer;
    }

    .check-btn {
        margin: 3vh;
        font-size: 50px;
        cursor: pointer;
    }
}

.cdk-drag-preview {
    color: white;
    padding: 12px 23px;
    font-size: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;        
}

.centered-button-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .centered-button {
        cursor: pointer;
        border-radius: 9px;
        height: 6.3vh;
        background-color: $gloki-blue;
        color: white;
        font-size: 25px;
        font-weight: 600;
        border: none;

        &:disabled {
            background-color: $gloki-grey;
            cursor: not-allowed;
        }
    }
}
