@import "src/variables.scss";

.people {
    display: flex;
    flex-direction: column;

    .person {
        border-bottom: 1px solid white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 71px;
        padding: 14px;

        .details {
            display: flex;
            flex-direction: row;
            gap: 14px;

            .profile-pic {
                width: 37px;
                height: 41px;
                object-fit: cover;
                border-radius: 8px;
            }
            
            .name {
                font-size: 23px;
                display: flex;
                align-items: center;
            }
        }

        button {
            background-color: $gloki-red;
            font-size: 23px;
            border-radius: 9px;
            color: white;
            font-weight: 600;
            border: none;
            cursor: pointer;
        }

        .green {
            color: $gloki-green;
            font-size: 23px;
            font-weight: 600;
        }
    }
}