<div class="person" *ngFor="let item of community?.tasks | keyvalue">
    <div class="details">
        <img class="profile-pic" *ngIf="profileService.others[item.key].image_url"
            [src]="profileService.others[item.key].image_url" />
        <div class="name">
            {{profileService.others[item.key].first_name}} {{profileService.others[item.key].last_name}}
        </div>
    </div>
    <button *ngIf="!item.value" (click)="callAuthenticate(item.key)"
        [disabled]="justClicked[item.key]">Authenticate</button>
    <div *ngIf="item.value" class="green">Authenticated</div>
</div>
<div class="person" *ngFor="let item of community?.members | keyvalue">
    <div class="details">
        <img class="profile-pic" *ngIf="profileService.others[item.key].image_url"
            [src]="profileService.others[item.key].image_url" />
        <div class="name">
            {{profileService.others[item.key].first_name}} {{profileService.others[item.key].last_name}}
        </div>
    </div>
</div>