@import "src/variables.scss";

:host {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    .person {
        border-bottom: 1px solid white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px;

        .details {
            display: flex;
            align-items: center;
            flex-direction: row;
            gap: 14px;
            overflow: hidden;
            white-space: nowrap;

            .profile-pic {
                width: 37px;
                height: 41px;
                object-fit: cover;
                border-radius: 8px;
            }
            
            .name {
                font-size: $gloki-fs-header;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        button {
            background-color: $gloki-red;
            font-size: $gloki-fs-header;
            border-radius: 9px;
            color: white;
            font-weight: 600;
            border: none;
            cursor: pointer;
        }

        .green {
            color: $gloki-green;
            font-size: $gloki-fs-header;
            font-weight: 600;
        }
    }
}