@import "src/variables.scss";

h1 {
    padding: 0 20px;
    text-align: center;
}

.raised-circle {
    border-radius: 50%;
    width: 2vh;
    height: 2vh;
    display: inline-block;
    background: white;
    color: $gloki-dark;
    text-align: center;
    font-size: $gloki-fs-small;
    transform: translateY(-1vh);
    cursor: pointer;
}
