/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'DM Sans';
}

body {
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

.main-container {
    background: linear-gradient(167.1deg, #081E32 16.16%, #185B98 94.75%);
    width: 100vw;
    min-height: 100vh;
    color: white;
}

a {
    text-decoration: none;
}