/* You can add global styles to this file, and also import other style files */
@import "src/variables.scss";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'DM Sans';
}

button {
    font-family: 'DM Sans';
}

body {
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

@import "src/app/dialogs/dialogs.scss";
