

$gloki-width: min(100vw, 700px);

$gloki-dark: #081E32;
$gloki-grey: #888888;
$gloki-blue: #165A99;
$gloki-green: #51E760;
$gloki-red: #E95C49;

$gloki-fs-title: 3.2vh;
$gloki-fs-header: 2.7vh;
$gloki-fs-regular: 2.2vh;
$gloki-fs-small: 1.6vh;