@import "src/variables.scss";
@import '@material-symbols/font-400/outlined.css';

.mainbar-container {
    padding: 17px 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid white;
    height: 10vh;

    .logo {
        width: 85px;
    }

    .bar-utilities {
        display: flex;
        align-items: center;
        gap: 20px;

        .header-icon {
            font-size: 40px;
            cursor: pointer;
        }

        .profile-pic {
            width: 37px;
            height: 41px;
            object-fit: cover;
            border-radius: 8px;
        }

        .grey-box {
            height: 41px;
            width: 37px;
            background: $gloki-grey;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
        }
    }
}