<div class="mainbar-container">
    <a routerLink="/main">
        <img class="logo" src="assets/Logo.svg" />
    </a>
    <div class="bar-utilities">
        <img class="find-icon" src="assets/find.svg" (click)="toggleFind()"/>
        <a routerLink="/main/profile" replaceUrl>
            <div class="grey-box" *ngIf="!gloki.profile.image_url">
                <img class="camera-icon" src="assets/camera.svg" />
            </div>
            <img class="profile-pic" *ngIf="gloki.profile.image_url" [src]="gloki.profile.image_url" />
        </a>
        
    </div>
</div>