<div class="mainbar-container">
    <a routerLink="/main/communities">
        <img class="logo" src="assets/Logo.svg" />
    </a>
    <div class="bar-utilities">
        <div class="material-symbols-outlined header-icon" *ngIf="communityId" (click)="onShare()">share</div>
        <img class="header-icon" src="assets/find.svg" (click)="onFind()"/>
        <a routerLink="/main/profile" replaceUrl>
            <div class="grey-box" *ngIf="!profileService.profile.image_url">
                <img class="camera-icon" src="assets/camera.svg" />
            </div>
            <img class="profile-pic" *ngIf="profileService.profile.image_url" [src]="profileService.profile.image_url" />
        </a>
        
    </div>
</div>