@import "src/variables.scss";

:host {
    width: 100%;
    display: flex;
    justify-content: center;

    .unverified-message {
        background-color: white;
        border-radius: 21px;
        width: calc($gloki-width * 0.75);
        display: flex;
        flex-direction: column;
        gap: 2.5vh;
        color: $gloki-dark;
        margin-top: 7vh;
        padding: calc($gloki-width * 0.07);

        h1 {
            font-size: $gloki-fs-title;
            margin: 0px;
        }

        h2 {
            font-size: $gloki-fs-header;
            margin: 0px;
        }

        .unverified-message-content {
            font-size: $gloki-fs-regular;
        }

        .error-message {
            color: $gloki-red;
        }

        button {
            background-color: $gloki-blue;
            border-radius: 9px;
            font-size: $gloki-fs-header;
            color: white;
            height: 6.3vh;
            border: none;
            cursor: pointer;

            &:disabled {
                background-color: $gloki-grey;
                cursor: not-allowed;
            }
        }

    }
}